.modal{
    width: 40%;
    background: #FFFFFF;
    border-radius: 20px;
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    h3{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;
        color: #000000;
    }
    p{
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height, or 150% */

        text-align: center;
        letter-spacing: -0.04em;

        color: #080808;
    }

    img{
        width: 50%;
        margin: 0 auto;
    }

    .close{
        position: fixed;
        right: 2%;
        top: 2%;
        width: 3%;
    }
}